.note {
  border: 1px solid gray;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.noteTitle {
  font-family: Arial, Helvetica, sans-serif;
}

.editNote {
  margin-right: 15px;
  width: 60px;
}

.deleteNote {
  margin-left: 15px;
  width: 60px;
}

.editNote, .deleteNote {
  margin-bottom: 20px;
}
