.note {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.noteTitle {
  color: #6495ED;
}

.deleteNote {
  width: 60px;
  margin-right: 10px;
}

.editNote {
  margin-left: 10px;
  width: 60px;
}