#app {
  display: flex;
  flex-direction: row;
}

#notesList {
  height: 100vh;
  width: 20vw;
  border-right: 1px solid gray;
  text-align: center;
}

#main {
  height: 100vh;
  width: 80vw;
  text-align: center;
}